@model Quiz.Web.Areas.Quiz.Models.QuestionWithAnswersInputViewModel

@Html.HiddenFor(model => model.QuizItemQuestionId)

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <h5>@Model.Question</h5>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active">
                @Html.RadioButtonFor(model => model.UserSpecifiedAnswer, Model.Answer1, new { id = Model.Answer1 }) @Model.Answer1
            </label>
            <label class="btn btn-primary">
                @Html.RadioButtonFor(model => model.UserSpecifiedAnswer, Model.Answer2, new { id = Model.Answer2 }) @Model.Answer2
            </label>
            <label class="btn btn-primary">
                @Html.RadioButtonFor(model => model.UserSpecifiedAnswer, Model.Answer3, new { id = Model.Answer3 }) @Model.Answer3
            </label>
            <label class="btn btn-primary">
                @Html.RadioButtonFor(model => model.UserSpecifiedAnswer, Model.Answer4, new { id = Model.Answer4 }) @Model.Answer4
            </label>
        </div>
    </div>
</div>
<hr/>