@using System.Configuration
@model Quiz.Web.Areas.Quiz.Models.QuizTakingCompleteViewModel

@{
    ViewBag.Title = "You completed the " + Model.QuizItemName + "!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Well done @Model.ParticipantName!</h4>
        <hr />

        <div class="panel panel-default score-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Calculating your score...</h3>
            </div>
            <div class="panel-body">
                <img class="score-image" src="~/Content/Images/spinner.gif" />
                <p class="text-primary score-value"></p>
            </div>
        </div>

        <div class="panel panel-default diploma-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Generating your diploma...</h3>
            </div>
            <div class="panel-body">
                <a href="#" class="image-link">
                    <img class="diploma-image" src="~/Content/Images/spinner.gif" />
                </a>
            </div>
        </div>

        @Html.ActionLink("View high scores", "Index", "HighScores", new { area="Scores" }, null)
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        // TODO: Read 'diplomaUrl' from the json-file returned from the Logic App workflow
        var expectedDiplomaFileUrl = '@Url.Content("~/Content/Images/dummy-diploma.jpeg")';
        var calculatedScoreValue = 12345;

        function onDiplomaGenerated() {
            $('.diploma-panel .panel-title').text('Download your diploma');
            $('.diploma-panel').removeClass('panel-default');
            $('.diploma-panel').addClass('panel-success');

            $('.diploma-panel .image-link').attr('href', expectedDiplomaFileUrl);
            $('.diploma-panel .diploma-image').attr('src', expectedDiplomaFileUrl);
        }

        function onScoreCalculated() {
            $('.score-panel .panel-title').text('Your score');
            $('.score-panel').removeClass('panel-default');
            $('.score-panel').addClass('panel-success');

            $('.score-panel .score-value').text(calculatedScoreValue);
            $('.score-panel .score-image').hide();
        }

        function resilientResourceLoader(attemptNumber, stopConditionFunc, func) {
            var maxRetryAttempts = 3;
            if (attemptNumber > maxRetryAttempts || stopConditionFunc() === true) return;

            var delayInMs = Math.pow(3, attemptNumber) * 1000; // Exponential retry: 3^1=3000ms, 3^2=9000ms, 3^3=27000ms
            console.log('Loading resource, attempt number ' + attemptNumber + ' and waiting ' + delayInMs + ' ms before next retry.');

            func();

            setTimeout(function() {
                resilientResourceLoader(++attemptNumber, stopConditionFunc, func);
            }, delayInMs);
        }

        function loadDiplomaImage() {
            $.ajax({
                url: expectedDiplomaFileUrl,
                cache: false,
                processData: false,
                headers: {
                    'Access-Control-Allow-Origin': '*'
                },
                success: function() {
                    onDiplomaGenerated();
                },
                error: function(result) {
                    console.log('Error loading diploma image: ' + result.status + ' - ' + result.statusText);
                }
            });
        }

        function loadScore() {
            // TODO: implement me
            onScoreCalculated();
        }

        $(document).ready(function() {
            resilientResourceLoader(0, function () { return $('.diploma-panel').hasClass('panel-success') }, loadDiplomaImage);
            resilientResourceLoader(0, function () { return $('.score-panel').hasClass('panel-success') }, loadScore);
        });
    </script>
}
